<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Html</title>
</head>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    window.onload = function() {

        console.log('WINDOW ON LOAD DATA CHECK 7733!');

        loadData();
        exceptionData();
    }

    function loadData() {
        axios.get('/getData')
            .then((res) => {

                console.log('PERSON RES : ' + JSON.stringify(res));

            })
            .catch((err) => {

                console.log('PERSON ERR : ' + JSON.stringify(err));

            })
    }

    function exceptionData() {
        axios.get('/exceptionTest')
            .then((res) => {

                console.log('EXCEPTION DATA TEST GET : ' + JSON.stringify(res));

            })
            .catch((err) => {

                console.log('EXCEPTION DATA TEST ERR : ' + JSON.stringify(err));

            })
    }

</script>

<body>

    THIS IS HELLO CONTROLLER ~~~~~ !!!!!!!!!


</body>
</html>